<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>
    <link rel="stylesheet" type="text/css" href="/src/style.css">
    <script src="/src/lib/jquery.js"></script>
    <script src="/src/lib/underscore.js"></script>
    <script src="/src/lib/backbone.js"></script>
    <script src="/src/lib/handlebars.js"></script>

  </head>

  <body>
    <h1>Shortly: New and Improved!</h1>
    <%- body %>
  </body>
</html>
